main {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
    width: 100%;
    
    & .intro-section {
        & h1 {
            margin-top: .5rem;
        }
    }
    & .instructions,
    & .draw-result {
        transition: opacity 0.3s ease;
    }
    & .instructions {
        & p {
            margin-top: .125rem;
            font: var(--paragraph_md);
        }
    }
    & .draw-result{
        display: flex;
        align-items: center;
        flex-direction: column;
        & .draw-title{
            font: var(--label_md);
        }
        & .draw-subtitle{
            font: var(--overline);
            text-transform: uppercase;
            color: var(--content-secondary);
        }
        & .draw-numbers{
            padding-block: 2.5rem;
            display: flex;
            align-items: center;
            gap: 2rem;
           & .number{
                font: 700 3rem/1.5 var(--ff-mono);
                color: var(--content-brand);
           }
        }
    }
    & form {
        margin-top: 2.5rem;

        & .input-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            & input {
                width: 5.375rem;
                height: 3.5rem;
                border-radius: .5rem;
                background: var(--background-secondary);
                border: 1px solid var(--background-secondary);
                color: #ffff;
                font: var(--display_sm);
                text-align: center;
            }

            & label {
                font: var(--label_sm);
                color: var(--content-secondary);
            }

        }

        & .toggle-wrapper {
            margin-top: 1.25rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            & .toggle {
                & #noRepeat {
                    display: none;
                }

                & .switch {
                    position: relative;
                    background: var(--content-tertiary);
                    width: 1.875rem;
                    height: 1.25rem;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 3px;
                    transition: all .5s ease-in-out;

                    & .slider {
                        position: absolute;
                        background: var(--content-primary);
                        width: .875rem;
                        height: .875rem;
                        border-radius: 50%;
                        transition: all .5s ease-in-out;
                    }
                }


            }
            & .toggle-label{
                font: 400 .75rem/1.5 "Inter", sans-serif;
            }
            & #noRepeat:checked~.switch {
                background: var(--gradient-background);
            }

            & #noRepeat:checked~.switch .slider {
                transform: translateX(10px)
            }
        }

        
    }
    & .btn{
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            cursor: pointer;
            margin-top: 2.5rem;
            width: 100%;
            height: 3.5rem;
            border-radius: .5rem;
            font: var(--label_sm);
            color: var(--content-primary);
            background: var(--background-tertiary);
    }
}


@media(width >=80em) {
    main {
        display: flex;
        flex-direction: row;
        gap: 6.75rem;

        & .instructions {
            padding-block: 2.125rem;
        }
        & .draw-result{
            padding-block: 3.6875rem;
            width: 50rem;
        }
        & .intro-section {
            & h1 {
                margin-top: .75rem;
            }
        }
        
    }
}
